html{
    color: white;
    scroll-behavior: smooth;

/* background bricks */
    --s: 40px; /*size of the bricks*/
    --c1: #818b8d;
    --c2: #676f74;
    --c3: #2c2e2a;
    
    --p:at 45% 40%,#0000 75%,;
    --g1:conic-gradient(var(--p) var(--c1) 0);
    --g2:conic-gradient(var(--p) var(--c2) 0);
    background:
      var(--g1),var(--g2) calc(2*var(--s)) 0,
      var(--g2) calc(3*var(--s)) var(--s),
      var(--g1) var(--s) var(--s) var(--c3);
    background-size: calc(4*var(--s)) calc(2*var(--s));
    background-attachment: fixed;}

#buttonArea > *{
    margin: auto;
    display: inline-block;
}

/* Donate button and popup css */
#donateBtn{
    cursor: pointer;}
#donateBtnArea{
    text-align: center;
    width: 175px;}
.popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);}
.popup{
    min-width: 300px;
    min-height: 200px;
    color: black;
    background-color: #E4E7D8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;}
.popup-content{
    text-align: center;}
.popup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(188, 0, 0);}



#infoBox{
    text-align: left;
    padding: 10px;
    color:black;
    border:2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #E4E7D8;
    width: 80%;
    min-width: 1255px;
    margin: auto;}
#pageBottom{
    color: snow;
    opacity: 100%;
    width: 80%;
    min-width: 1255px;
    margin: auto;
    text-align: center;
    text-shadow:0px 0px 10px teal;}
#mainContent{
    margin: auto;}
.navBtn{
    color:black;
    border:2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    background-color: #E4E7D8;}
#topBtn{
    margin-left: 1%;
    position: fixed;
    bottom: 5%;}
.showTopBtn{
    opacity: 100%;
    transition: opacity 1s;
    cursor: pointer;
    color:black;
    border:2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    background-color: #E4E7D8;}
.hideTopBtn{
    opacity: 0%;
    transition: opacity 0.5s;
    cursor: context-menu;
    color:black;
    border:2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    background-color: #E4E7D8;}
#bottomBtn{
    cursor: pointer;
    margin: auto;
    width: 130px;
    text-align: center;}
a{text-decoration: none;}
.heroPowers{
    padding: 5px;
    border: 1px solid white;}
.col1{
    border-right: 1px solid white;}
.row1, .row2, .row3{
    vertical-align: top;}
.col1, .col2{
    width: 50%;}
.relicBonuses{text-align: center;}
#mainContent{
    background-color: #E4E7D8;
    border-radius: 5px;
    border-spacing: 40px;}
td,tr{
    border-collapse: collapse;}
td:has(.heroBox){
    background-color: #F0F3E3;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 5px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.3),
        0 6px 20px 0 rgba(0, 0, 0, 0.3);}
tr:has(.heroBox){
    padding: 5px;
    margin: 5px;}
.heroBox{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    width: 600px;
    min-height: 200px;
    margin: 5px;
    border-radius: 20px}
.heroBox > table{
    padding: 10px;
    margin-top: none;}
input[type="number"]{
    width: 40px;}
.resultDiv{
    text-align: center;}

/* .incomplete{display: none;} */

td.incomplete .heroBox{
    background-image: url("Coming Soon Corner.png");
    background-repeat: no-repeat;
    background-position-x: 102%;
    background-position-y: -2%;
    color: rgba(255, 255, 255, 0.25);}

.incomplete .heroPowers{
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);}

.incomplete .col1{
    border-right: 1px solid rgba(255, 255, 255, 0.25);}

.incomplete  .resultDiv > button{
    opacity: 0.5;
    cursor: not-allowed;}

.incomplete .heroBox > input{
    opacity: 0.5;
    cursor: not-allowed;}



/* Hero Portrait background images */
#AramisBox{
    background-image: url("Hero-Portraits/Aramis.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
#EvanBox{
    background-image: url("Hero-Portraits/Evan.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#SheldaBox{
    background-image: url("Hero-Portraits/Shelda.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#LeonhardtBox{
    background-image: url("Hero-Portraits/Leonhardt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#PriyaBox{
    background-image: url("Hero-Portraits/Priya.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#DanielBox{
    background-image: url("Hero-Portraits/Daniel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#MaraBox{
    background-image: url("Hero-Portraits/Mara.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
#ChungAhBox{
    background-image: url("Hero-Portraits/Chung Ah.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
#LilyBox{
    background-image: url("Hero-Portraits/Lily.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
#JolBox{
    background-image: url("Hero-Portraits/Jol.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#RenBox{
    background-image: url("Hero-Portraits/Ren.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#BehemusBox{
    background-image: url("Hero-Portraits/Behemus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#LycaBox{
    background-image: url("Hero-Portraits/Lyca.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#RossetteBox{
    background-image: url("Hero-Portraits/Rossette.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#LunaireBox{
    background-image: url("Hero-Portraits/Lunaire.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#YeonBox{
    background-image: url("Hero-Portraits/Yeon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#ZuoYunBox{
    background-image: url("Hero-Portraits/Zuo Yun.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#ZupitereBox{
    background-image: url("Hero-Portraits/Zupitere.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#DracoBox{
    background-image: url("Hero-Portraits/Draco.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#MelBox{
    background-image: url("Hero-Portraits/Mel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#RahawkBox{
    background-image: url("Hero-Portraits/Rahawk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#HansiBox{
    background-image: url("Hero-Portraits/Hansi.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#AsiaqBox{
    background-image: url("Hero-Portraits/Asiaq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#BombieBox{
    background-image: url("Hero-Portraits/Bombie.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#BardreyBox{
    background-image: url("Hero-Portraits/Bardrey.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#AlberonBox{
    background-image: url("Hero-Portraits/Alberon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#CainBox{
    background-image: url("Hero-Portraits/Cain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#HelaBox{
    background-image: url("Hero-Portraits/Hela.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#MirsylBox{
    background-image: url("Hero-Portraits/Mirsyl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#TaesanBox{
    background-image: url("Hero-Portraits/Taesan.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#TiaBox{
    background-image: url("Hero-Portraits/Tia.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#ZuoBaiBox{
    background-image: url("Hero-Portraits/Zuo Bai.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#AgatheBox{
    background-image: url("Hero-Portraits/Agathe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#NeriaBox{
    background-image: url("Hero-Portraits/Neria.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#HaerangBox{
    background-image: url("Hero-Portraits/Haerang.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#GidnilBox{
    background-image: url("Hero-Portraits/Gidnil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#KanakBox{
    background-image: url("Hero-Portraits/Kanak.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#RieBox{
    background-image: url("Hero-Portraits/Rie.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#NibellaBox{
    background-image: url("Hero-Portraits/Nibella.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#TaebaekBox{
    background-image: url("Hero-Portraits/Taebaek.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#CathyBox{
    background-image: url("Hero-Portraits/Cathy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#EstheaBox{
    background-image: url("Hero-Portraits/Esthea.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#BaldirBox{
    background-image: url("Hero-Portraits/Baldir.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#IanBox{
    background-image: url("Hero-Portraits/Ian.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#OpheliaBox{
    background-image: url("Hero-Portraits/Ophelia.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#KirdanBox{
    background-image: url("Hero-Portraits/Kirdan.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#ManoBox{
    background-image: url("Hero-Portraits/Mano.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#VictoriaBox{
    background-image: url("Hero-Portraits/Victoria.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#AenrathBox{   
    background-image: url("Hero-Portraits/Aenrath.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#ElizabethBox{
    background-image: url("Hero-Portraits/Elizabeth.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#SaeryungBox{
    background-image: url("Hero-Portraits/Saeryung.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#FaraelBox{
    background-image: url("Hero-Portraits/Farael.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#GaramBox{
    background-image: url("Hero-Portraits/Garam.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#DandelynBox{
    background-image: url("Hero-Portraits/Dandelyn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#SarasBox{
    background-image: url("Hero-Portraits/Saras.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#JinjuBox{
    background-image: url("Hero-Portraits/Jinju.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#BellinaBox{
    background-image: url("Hero-Portraits/Bellina.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#SargulaBox{
    background-image: url("Hero-Portraits/Sargula.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#MaiuBox{
    background-image: url("Hero-Portraits/Maiu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#PatrosBox{
    background-image: url("Hero-Portraits/Patros.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
#ComingSoonBox{
    background-image: url("KGC Heroes.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}